# Ignore Mac system files
.DS_Store

# Other common files to ignore
node_modules/
*.log
*.env

# Ignore compiled files
*.class
*.pyc
*.o
*.out

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE/editor specific files
.vscode/
.idea/
